<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285205140731-n2lclibfr3d2tks4vdhhl1jnfednv2ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285205140731-n2lclibfr3d2tks4vdhhl1jnfednv2ju</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285205140731-487cvhr2a14ncf9p2r4mucmdg8hkun51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj37qZ-QEOCRUFi_mpgMI9SHME6n3hAus</string>
	<key>GCM_SENDER_ID</key>
	<string>285205140731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doughnutlabs.newseniiorcompaniion</string>
	<key>PROJECT_ID</key>
	<string>senior-companion-app</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-companion-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285205140731:ios:b390b6cecfd4942fe84c5e</string>
</dict>
</plist>